@font-face {
    font-family: 'SF UI Text';
    src: url('SFUIText-RegularItalic.woff2') format('woff2'),
        url('SFUIText-RegularItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

